node_modules/
.expo/
.metro-cache/
dist/
dist-test/
web-build/
.git/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/

*.aab
*.apk
*.log
